[[!meta title="Other Linux (Red Hat, Fedora, etc.)"]]

[[!meta stylesheet="bootstrap" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/linux" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

[[<span class="back">Back</span>|install/os]]

<h1 class="text-center">Other <strong>Linux</strong> <small>(Red Hat, Fedora, etc.)</small></h1>

<div id="scenarios" class="row">
  <div class="col-md-6">

    [[!inline pages="install/inc/router/clone" raw="yes"]]

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Install from another Tails</h3>
        </div>
      </div>
    |install/linux/clone/overview]]

  </div>
  <div class="col-md-6">

    <h3>Download and install</h3>

    <h4>You need:</h4>

    <ul>
      <li>2 USB sticks <small>(at least 4 GB)</small>&nbsp;[[!toggle id="why_two" text="Why 2?"]]

        [[!toggleable id="why_two" text="""
        [[!toggle id="why_two" text="X"]]
        [[!inline pages="install/inc/router/why_two.inline" raw="yes"]]
        """]]
      </li>
      <li>1 hour to download Tails (<small class="remove-extra-space">[[!inline pages="inc/stable_i386_iso_size" raw="yes"]]</small>)</li>
      <li>1 hour to install</li>
    </ul>

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Install from Linux</h3>
        </div>
      </div>
    |linux/usb/overview]]

  </div>
</div>

<div class="row also">
  <div class="col-sm-4 col-sm-offset-8">
    <small>

      You can also:
      <ul>
        <li>[[Burn Tails on a DVD|dvd]]</li>
        <li>[[Run Tails in a virtual machine|vm]]</li>
      </ul>

    </small>
  </div>
</div>
