[[!meta title="Install from Debian, Ubuntu, or Mint using the command line and GnuPG: overview"]]

[[!meta stylesheet="bootstrap" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/overview" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/expert" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

[[<span class="back">Back</span>|install/debian]]

<h1 class="text-center">Install from <strong>Debian</strong>, <strong>Ubuntu</strong>, or <strong>Mint</strong> <small>using the command line and GnuPG</small></h1>

[[!inline pages="install/inc/overview" raw="yes"]]

[[
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Let's go!</h3>
  </div>
</div>
|install/expert/usb]]

<div class="clearfix"></div>
